@import "../../../../../styles/responsive.scss";

.service-order {

    @include lg {
        width: 100%;
    }

    .status {
        
        font-weight: bold;
        font-size: 15px;
        height: 41px;
        text-align: center;
 
    }

    button {
        height: 100%;
    }

}
